.screen {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
}

/* #9b73f5, #7873f5, #ce73f5, #e355ff, #9b73f5, #7873f5, #ce73f5, #e355ff */

.title {
  font-size: 80px;
  font-weight: bolder;
  background-image: linear-gradient(90deg, #9b73f5, #7873f5, #ce73f5, #e355ff, #9b73f5, #7873f5, #ce73f5, #e355ff);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background-size: 200% 200%;
  animation: colorShift 5s infinite;
}

@keyframes colorShift {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.subtitle {
  font-size: 30px;
  transform: translateY(-40%);
  margin-bottom: 10px;
}

.typewriter {
  font-family: monospace;
  display: inline-block;
  font-size: 17px;
  width: 50ch;
  overflow: hidden;
  border-right: 0.15em solid #fdfdfd;
  white-space: nowrap;
  animation: typing 3.5s steps(50, end), blink-caret 0.75s step-end infinite;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: #fdfdfd;
  }
}

.glowBtn {
  margin-top: 30px;
  width: 220px;
  height: 50px;
  border: none;
  outline: none;
  color: #fff;
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
}

.glowBtn:before {
  content: "";
  background: linear-gradient(45deg, #9b73f5, #7873f5, #ce73f5, #e355ff, #9b73f5, #7873f5, #ce73f5, #e355ff);
  position: absolute;
  top: -4px;
  left: -4px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 8px);
  height: calc(100% + 8px);
  animation: glowing 20s linear infinite;
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

.glowBtn:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  border-radius: 10px;
  background: #000000da;
  transition: 0.4s;
}

.glowBtn:hover:after {
  background-color: #000000c0;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.viewSiteContent {
  position: absolute;
  bottom: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  transition: 0.4s;
  font-size: 18px;
}

.viewSiteContent:hover {
  scale: 1.05;
}

@media (width < 770px) {
  .title {
    font-size: 60px;
  }
  .subtitle {
    font-size: 26px;
  }
  .typewriter {
    display: none;
  }
}
